/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color:#FFF76A;
}

.uncolored-card {
    -fx-background-color: linear-gradient(to right, #2b2b2e, #c4c4c5);
    -fx-background-radius: 10px;
}
.trans-box {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #c1c1c1;
    -fx-border-style: dashed;
}